</html>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top footsocial" style="background-color:#20265D">
    <div class="foot1">
        <a>
            <img src="img/white-logo.png"
            alt="Twitter Logo"
            />
        </a>
        <span class="text-white footfont">Lifting others up, together</span>
    </div>
    
    <ul class="nav col-md-4 justify-content-end">
        <li>
            <a href="https://twitter.com/helpenxyz">
                <img src="img/twitter-icon-18-256.png"
                alt="Twitter Logo"
                width="50px"
                />
            </a>
        </li>
        <li class="ms-3">
            <a class="container image3" href="https://www.linkedin.com/company/helpeninc/">
                <img src="img/linkedin-icon-18-256.png"
                alt="Twitter Logo"
                width="50px"
                />
            </a>
        </li>
    </ul>
    </footer>
    