<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZEK+y1sFPrf+L3bX16t4y"
      crossorigin="anonymous"
    />
    <title>Home</title>
  </head>

  <div class="img-container">
    <img
      src="img/Primary Logo - Outline - Navy.png"
      alt="Your Image"
      class="img-responsive"
    />
  </div>
  <div class="half-circle">
    <div class="homecontainer">
      <div class="homecentered-text">
        <h1 class="toptexthome">
          <span class="bolded">Helpen</span> turns every company into a social
          impact company.
        </h1>
        <h2 class="bottomtexthome">
          Nonprofits are looking for support in a variety of ways. Check out
          some of the non-financial requests from amazing organizations below.
        </h2>
        <div class="text-center" style="padding-top: 100px">
          <a href="/data">
            <button
              id="explorebutton"
              type="button"
              class="btn btn-light"
              style="color: rgb(0, 0, 0)"
            >
              Explore Nonprofits
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</html>
